@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');

* {
	padding: 0;
	margin: 0;
}

body, html {
	min-height: 100%;
	min-width: 100%;
	height: 100%
}

.wrapper {
	background: url("./metro-paris-1024x768.jpg");
	/* Center and scale the image nicely */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	/* à voir  */
	min-height: 100%;
	background-color: rgba(0, 0, 0, 0.651);
	background-blend-mode: darken;
}

.navbar {
	position: sticky;
	z-index: 1;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.4);
	overflow: hidden;
}

.navbar .logo {
	width: 140px;
	height: auto;
	padding: 10px 10px;
}

.navbar ul {
	float: right;
	margin-right: 20px;
}

.navbar ul li {
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}

.navbar ul li a {
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}

.navbar ul li a.active,
.navbar ul li a:hover {
	background: #15183B;
	border-radius: 2px;
}

.wrapper .center {
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 5%;
	padding-right: 5%;
	position: center;
}

.center h1 {
	color: rgb(255, 255, 255);
	font-size: 70px;
	width: 90%;
	font-weight: bold;
	text-align: center;
	margin: 20 0;
}

.center h2 {
	color: rgb(255, 255, 255);
	font-size: 55px;
	font-weight: bold;
	margin-top: 10px;
	width: 80%;
	text-align: center;
	margin-bottom: 10px;

}

p {
	color: white;
	font-size: 20px;
	margin: 20px 0;
}

ul.params {
	color: white;
	font-size: 20px;
	margin: 20px 0;
	margin-left: 8%;
}

li.params {
	margin: 10px 0;
}


.center .buttons {
	margin: 35px 280px;
}

.buttons button {
	height: 50px;
	width: 150px;
	font-size: 18px;
	font-weight: 600;
	color: #ffb3b3;
	background: #15183B;
	outline: none;
	cursor: pointer;
	border: 1px solid #15183B;
	border-radius: 25px;
	transition: .4s;
}

.buttons .btn2 {
	margin-left: 25px;
}

.buttons button:hover {
	background: #cc0000;
}