@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');


.wrapper {
	background-image: url("./imageedit_1_3377936086.jpg");
	/* Center and scale the image nicely */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
	/* à voir  */
	min-height: 100%;
	background-color: rgba(20, 20, 20, 0.568);
	background-blend-mode: darken;
}

.wrapper .center {
	font-family: sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 5%;
	padding-right: 5%;
	position: center;
}

.center p {
	color: white;
	font-size: 20px;
}

.center ul {
	color : white;
	font-size: 20px;
}

.center li {
	margin : 10px 0;
}

.center h3 {
	color: white;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	padding-top: 2%;
	padding-bottom: 1%;
	padding-left: 20%;
	padding-right: 20%;
}